footer.footer
      img.footer__logo(src="../images/logo1-white.svg" alt="LLOTD’S COFFEE")
      .footer__box
        nav
          ul.footer__nav
            li.footer__item
              a.footer__link(href="../index.html") top
            li.footer__item
              a.footer__link(href="../html/onlineshop.html") online shop
            li.footer__item
              a.footer__link(href="../html/comanystore.html") comany store
            li.footer__item
              a.footer__link(href="../html/contact.html")  contact
            li.footer__item
              a.footer__link(href="../html/about.html")  about
            li.footer__item
              a.footer__link(href="../html/law.html")  law
            li.footer__item
              a.footer__link(href="../html/privacy.html") privacy
        .footer__sns
          img.footer__sns-in(src="../images/fb.png" alt="sns")
          img.footer__sns-in(src="../images/in.png" alt="sns")
          img.footer__sns-in(src="../images/tt.png" alt="sns")
          small.footer__copy copyright&copy;LLOTD’S COFFEE
      small.footer__copy-02 copyright&copy;LLOTD’S COFFEE

      