button.gnav-btn#gnav-btn
    span.gnav-btn__top#gnav-btn__top
    span.gnav-btn__mid#gnav-btn__mid
    span.gnav-btn__btm#gnav-btn__btm
nav.gnav#gnav
    ul.gnav__nav
        li.gnav__item
        a.gnav__link(href="../index.html") ホーム
        li.gnav__item
        a.gnav__link(href="../html/onlineshop.html") オンラインショップ
        li.gnav__item
        a.gnav__link(href="../html/comanystore.html") 店舗一覧
        li.gnav__item
        a.gnav__link(href="../html/contact.html") お問い合わせ
        li.gnav__item
        a.gnav__link(href="../html/about.html")  会社概要